<div class="container">
  <div class="header d-flex">
    <h2 class="m-0">Inventory</h2>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">Add product</button>
  </div>

  <hr />

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="w-100">
      <!-- ID Column -->
      <ng-container matColumnDef="id_inventory">
        <th mat-header-cell *matHeaderCellDef class="w-10">ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id_inventory }}</td>
      </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef class="w-15">Product</th>
        <td mat-cell *matCellDef="let row">{{ row.product.name }}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="w-15">Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <!-- Min Quantity Column -->
      <ng-container matColumnDef="min_quantity">
        <th mat-header-cell *matHeaderCellDef class="w-15">Min Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.min_quantity }}</td>
      </ng-container>

      <!-- Max Quantity Column -->
      <ng-container matColumnDef="max_quantity">
        <th mat-header-cell *matHeaderCellDef class="w-15">Max Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.max_quantity }}</td>
      </ng-container>

      <!-- Taxed Quantity Column -->
      <ng-container matColumnDef="taxed">
        <th mat-header-cell *matHeaderCellDef class="w-15">Taxed</th>
        <td mat-cell *matCellDef="let row">{{ row.taxed }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="w-15">Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button>
            <i class="fas fa-pencil-alt orange"></i>
          </button>
          <button mat-icon-button>
            <i class="fas fa-trash red"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]"></mat-paginator>
  </div>

</div>
