<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="sidebar-header">
      <h3>Crud</h3>
    </div>
    <ul class="list-unstyled components">
      <p>Sidebar</p>
      <li>
        <a href="">Main Page</a>
      </li>
      <li>
        <a href="crudProducts">Products</a>
      </li>
      <li>
        <a href="crudClients">Clients</a>
      </li>
      <li>
        <a href="crudInventary">Inventary</a>
      </li>
      <li>
        <a href="crudPaymentType">Payment type</a>
      </li>
      <li>
        <a href="crudBilling">Billing</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span> Crud Settings</span>
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>
      </div>
    </nav>
  </div>
</div>
<div class="overlay"></div>
<div class="all-content">
  <router-outlet></router-outlet>
</div>
